[submodule "themes/hugo-natrium-theme"]
	path = themes/hugo-natrium-theme
	url = https://github.com/mobybit/hugo-natrium-theme.git
[submodule "public"]
	path = public
	url = git@github.com:theodorton/theodorton.github.com.git
	branch = master
